.icon {
    position: absolute;
    color: antiquewhite;
    bottom:0; 
    
}
.icon:last-child{
    right: 0;
}

.image { position: relative; }
.image img { display: block; }

.heart:hover {
  background-color: #FFDDD2;
}

.heart:active {
  background-color: #FFDDD2;
  box-shadow: 0 2px #666;
  transform: translateY(4px);}

