.card {
  min-height:375px;
}
.icon {
    position: absolute;
    color: antiquewhite;
    bottom:0; 
} 
.heart {
  min-width: 50px;
  height: 35px;
}
.icon:last-child{
    right: 0;
}

.image { position: relative; }
.image img { display: block; }


.heart:active {
  background-color: #FFDDD2;
  transform: translateY(4px);}
#pen {
  color: #006D77;
}
#trashcan{
  color:white;
  background-color: #006D77;
}
.media{
  height: 100%;
}
