.image-list{
    columns: 4 200px;
    column-gap: 20px;
    row-gap: 20px;
}
.background {
    background-color: #E29578;
}
img{
    width: 100%;
}
.container{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
	grid-gap: 1em;
}

.card{
    margin-bottom: 5%;
}
.card-search {
    width: 40%;
    justify-content: center;
    align-items: center;
  }
  .searchPage {
    background-image: url("../../images/example.jpg");
    background-size: cover;
    width: auto;
    height: 65vh;
  }
  